<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errors</title>
</head>
<body>
    <% if(!clientError.length == 0){ %>
        <h1>Client Error</h1>
        <ul>
           <% for(let i = 0; i < clientError.length; i++){ %>
            <li><%= clientError[i].msg %></li>
            <% } %>
        </ul>
    <% } %>
    
    <% if(!serverError.length == 0){ %>
        <h1>Server Error</h1>
        <ul>
           <% for(let i = 0; i < serverError.length; i++){ %>
            <li><%= serverError[i].message %></li>
            <% } %>
        </ul>
    <% } %>
   <ul>
</body>
</html>