<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search result for: <%= username %></title>
</head>
<body>
    <% if(!users.length == 0){ %>
        <% for(let i = 0; i < users.length; i++){ %>
            <h2>ID: <%= users[i].id %></h2>
            <ul >
                <li><%= users[i].firstname %>  <%= users[i].lastname %></li>
            </ul>
        <% } %>
    <% } else{ %>
        <h1>Search result empty</h1>
    <% } %>
</body>
</html>