<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= firstname %></title>
</head>
<body>
    <li>First name: <%= firstname %></li>
    <li>Last name: <%= lastname %></li>
</body>
</html>